<h1>Edite o seu livro</h1>
<form action="/stories/updatestory" method="post" class="form">
<input type="hidden" name="id" value="{{story.id}}">
  <div class="form-control">
    <label for="title">Título</label>
    <input
      type="text"
      name="title"
      placeholder="Digite o título"
      value="{{story.title}}"
    />
  </div>
  <div class="form-control">
    <label for="pageqty">Quantidade de páginas</label>
    <input
      type="number"
      name="pageqty"
      placeholder="Digite o número de páginas"
      value="{{story.pageqty}}"
    />
  </div>
  <input type="submit" value="Editar" class="btn" />
</form>