<h1>Livros Disponíveis</h1>

<div class="stories-container">
  {{#each stories}}
    <div class="story">
      <a href="/stories/{{this.id}}">
        {{this.id}} - <span class="bold">{{this.title}}</span> - {{this.pageqty}} páginas
      </a>
    </div>
  {{/each}}
  <a href="/" class="add"> + </a>
</div>
