@use 'variables'

body::-webkit-scrollbar
  width: 8px

body::-webkit-scrollbar-track
  background: variables.$text-color

body::-webkit-scrollbar-thumb
  background-color: variables.$primary-color
  border-radius: 50px

html
  font-size: 12px
  background-color: variables.$bg-primary-color
  scroll-behavior: smooth
  color: variables.$text-color

*
  padding: 0
  margin: 0
  box-sizing: border-box
  font-family: 'Poppins', sans-serif
  font-size: 1rem

a
  text-decoration: none
  transition: .8s
  color: variables.$text-color
  font-weight: 500

  &:hover
    color: variables.$primary-color

input, textarea
  border: none
  outline: none
  resize: none
  box-shadow: 1px 1px 2px #00000066

textarea:focus, input:focus, select:focus
  box-shadow: 0 0 0 0
  border: 0 none
  outline: 0

ul
  list-style: none