@use '../base/variables'
@use '../layouts/mixins'
@use '../base/base-mixins'


.container-form
  @include mixins.center-content()
  flex-direction: column
  min-height: 100vh

  @include base-mixins.mobile-tablet
    justify-content:  start

.form
  width: 70%

  @include base-mixins.mobile-tablet
    width: 90%

  .form-control
    display: flex
    flex-direction: column
    margin-bottom: 1.2rem

    label
      display: none

    input, textarea
      padding: 1rem
      border-radius: 4px
